.line1 {
  display: flex;
  width: 700px;
  height: 100px;
}

.btn {
  width: 175px;
  font-size: 30px;
  background-color: #ff8566;
}

.zero {
  width: 50%;
}

.nav {
  display: flex;
  justify-content: space-between;
}
