.display {
  display: flex;
  align-items: center;
  background-color: #5c5c8a;
  width: 700px;
  height: 100px;
  justify-content: flex-end;
}

.result {
  color: #fff;
  font-weight: 2;
  padding-right: 20px;
}

.seperate {
  display: flex;
  justify-content: space-between;
}

.el {
  font-size: 25px;
  padding-top: 40px;
}
